@model movilton_mvc.Models.usuarios

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro</h2>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>usuarios</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre_usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre_usuario)
            @Html.ValidationMessageFor(model => model.nombre_usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombres)
            @Html.ValidationMessageFor(model => model.nombres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apellidos)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellidos)
            @Html.ValidationMessageFor(model => model.apellidos)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
            @Html.ValidationMessageFor(model => model.telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>


        <p>
            <input type="submit" value="Registrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al Inicio", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
